* {
  margin:0;
  padding:0;
  color:#666;
  font-size: 15px;
  letter-spacing: 0;
}

body {
  background-image: url('bg.png');
  position: relative;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.container {
  max-width: 1200px;
  background-color: white;
  margin: 0 auto;
}

/* ここからヘッダー */

img {
  max-width:100%;
}

.header {
  border-top: 4px solid #0E36CA;
  margin-bottom: 30px;
}

.logo {
  text-align: left;
  width: 300px;
  padding-left: 40px;
  margin: 30px auto;
}

nav {
  position:relative;
}

.responsiblemenu {
  display: none;
}

.ulmain {
  font-size: 0;
  margin:0;
  padding:0;
  text-align: center;
}

.mainmenu ,.nowpage{
  margin: 0;
  padding: 0;
  width: calc(100%/6);
  box-sizing: border-box;
  list-style: none;
  display: inline-block;
  border-top: .5px solid #ddd;
  border-bottom: .5px solid #ddd;
  border-left: .5px solid #ddd;
}

.mainmenu {
  transition: 0.5s;
}

.nowpage {
  background-color: #E6EBFA;
}

.mainmenu:hover {
  background-color: #E6EBFA;
}

.mainmenu a ,.nowpage a{
  text-decoration: none;
  color: inherit;
  display: block;
  height: 55px;
}

.linkbottom {
  margin: 10px 5px;
  height: 40px;
  font-weight: bolder;
  color:#666;
  font-size: 15px;
  transition: color 0.5s;
}

.mainmenu .linkbottom {
  border-left: 4px solid #fff;
}

.nowpage .linkbottom{
  border-left: 4px solid #1140F0;
}

.mainmenu:hover  .linkbottom,.nowpage:hover .linkbottom {
  border-left: 4px solid #1140F0;
  color: #1140F0;
}

.linkbottom > div {
  font-size: 9px;
  color: #aaa;
  letter-spacing: .5em;
  font-weight: normal;
}

/* ここからmain */

.main {
  width:70%;
  float: left;
  margin-bottom: 100px;
  z-index:0;
}

h1 {
  margin: 0 30px ;
  padding: 12px 20px;
  background: linear-gradient(to bottom,blue,#123cd4) ;
  font-weight:inherit;
  font-size: 18px;
  border-radius: 4px;
  color: white;
  box-shadow: 2px 2px 2px gray;
  box-sizing: border-box;
  z-index: 10;
}

h1::first-letter {
  content:"";
  border-left: 3px solid #889EF0;
  height: 20px;
  padding-left: 18px;
}

#mt100 {
  margin-top:100px;
}

h2 {
  margin: 20px 30px 0 30px;
  padding: 12px 20px;
  background: linear-gradient(to bottom,white,#eee);
  font-weight:inherit;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: inherit;
  box-sizing: border-box;
  position: relative;
}

.red{
  color: red;
}

h3 {
  margin-top:20px;
  font-weight: bolder;
  color:red;
}

.pl40 {
  margin:20px 50px 0 ;
  line-height:2em;
}

.main ul {
  list-style:none;
  margin-top: 20px;
}

.history {
  border-bottom: 1px solid gray;
}

.now {
  padding: 2px 4px;
  color: #ffff;
  font-size:11px;
  padding: auto;
  margin: auto;
  background-color: red;
  border-radius: 3px;

}

.log {
  text-align: right;
  margin:30px 0 100px 0;
}

.date {
  margin-right: 2em;
  color: #0E36CA;
}

.bggray {
  padding: .25em .5em;
  color: black;
  border-radius: 8px;
  background-color: #bbb;
}

/* ここからCOMPANY用 */
.margin30 {
  margin: 20px 30px;
}
.midashi {
  border-collapse: collapse;
  width:100%;
}

.midashi th , .midashi td{
  border: .2px solid #ddd;
  font-weight: normal;
  padding: .8em .5em;
}

.midashi th {
  text-align: center;
  width: 25%;
}

.midashi td {
  width: 75%;
}
/* ここからService用 */
.samplelink {
  margin: 20px 30px 0 30px;
  padding: 20px;
  overflow: hidden;
  border: .2px solid #ccc;
  box-shadow: 5px 5px 10px #ddd;
  background: linear-gradient(to bottom,#fff,rgba(256,256,256,0.5));
  background-color:#999;
  z-index: 10;
  position:relative;
}

.samplelinka {
  text-decoration: none;
  position: relative;
}

.samplelinka:hover .samplelink{
  transition: 0.3s;
  background-color:#fff;
}

.samplelinkimg {
  float: left;
  width: 30%;
  z-index: 12;
}

.samplelink > p {
  display: inline-block;
  width:65%;
  padding-left: 20px;
  font-size: 15px;
  transition: .3s color;
  z-index:15;
}

.samplelinka:hover p {
  color: rgb(0, 0, 207);
}

.samplelinktitle {
  color: rgb(0, 0, 207);
  font-size: 18px;
  z-index:18;
}

.samplelinka .samplelinktitle::after {
  content:"→";
  color: white;
  text-align: center;
  vertical-align: center;
  padding:auto;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  background-color: gray;
  z-index: 20;
  position:absolute;
  top:20px;
  right: 20px;
  display:inline-block;
}

.samplelinka:hover .samplelinktitle::after {
  transition: 0.3s;
  background-color: #333;
}

/* ここからcontact用 */
.contactbutton {
  margin: 15px auto;
  padding: 5px;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid black;
  background: linear-gradient(to bottom,#fff,#ddd)
}

.contactbutton:hover {
  background: #fff;
}

/* ここからside */

.side {
  float: right;
  width:30%;
  margin-bottom: 100px;
}

.sidemenu {
  margin:0 5% 20px;
  background: linear-gradient(to bottom,#fff,#eee);
  padding: 10px;
  border: .2px solid gray;
}

.sidemenu2 {
  margin:20px 5% 20px;
}

.sidemenutitle {
  padding: 20px .5em;
  border-top: 4px solid #0E36CA;
  border-bottom: .2px solid gray;
  font-weight: bold;
  background-color: #eee;
}

.sidemenutitle2 {
  padding: 20px .5em;
  border-top: 4px solid #0E36CA;
  border-bottom: .2px solid gray;
  font-weight: bold;
  background-color: #eee;    
}

.sidemenulist {
  list-style: none;
}

.sidemenulink {
  padding: 10px .5em;
  display:block;
  text-decoration: none;
  border-bottom: .2px solid gray;
  transition: .5s;
}

.sidemenulink > img {
  margin-right: 5px;
  width: 15%;
}

.sidemenulink > p {
  display: inline-block;
  font-size: 12px;
}

.sidemenulink:hover {
  color:  #0E36CA;
  background-color: #fff;
}


/* ここからfooter */

.footer {
  clear: both;
  text-align: center;
  background-color: #0E36CA;
  color: white;
  font-size: 13px;
  line-height: 2em;
  padding:20px 0;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  transition: 0.3s;
  color:#0E36CA;
}